# Week 6 Assignment - Pandas

In [11]:
import pandas as pd
import numpy as np

### 1) Load the data into a pandas dataframe (you may get a warning, you can get rid of it by setting low_memory=False). 

### Print the first 10 rows and print a random sampling of the rows in the dataframe.

In [12]:

def load_and_sample_data(file_path):
    """
    Loads data from a CSV file into a pandas DataFrame and prints the first 10 rows and a random sample of rows.
    
    Parameters:
    file_path (str): The path to the CSV file containing the realtor data.
    
    Returns:
    None
    """
    # Load the data into a pandas dataframe. Setting low_memory=False to avoid dtype warning due to mixed types in columns.
    df = pd.read_csv(file_path, low_memory=False)
    
    # Print the first 10 rows to get an initial understanding of the data.
    print("First 10 rows of the DataFrame:")
    print(df.head(10))
    
    # Print a random sampling of 10 rows to see diverse entries across the dataset.
    print("\nRandom sample of 10 rows from the DataFrame:")
    print(df.sample(10))
    

if __name__ == "__main__":
    # Define the path to the realtor-data.csv file
    data_file_path = 'data/realtor-data.csv'

    # Call the function to load and display data
    load_and_sample_data(data_file_path)

First 10 rows of the DataFrame:
     status  bed bath  acre_lot           city        state  zip_code  \
0  for_sale  3.0  2.0      0.12       Adjuntas  Puerto Rico     601.0
1  for_sale  4.0  2.0      0.08       Adjuntas  Puerto Rico     601.0
2  for_sale  2.0  1.0      0.15     Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0  2.0      0.10          Ponce  Puerto Rico     731.0
4  for_sale  6.0  2.0      0.05       Mayaguez  Puerto Rico     680.0
5  for_sale  4.0  3.0      0.46  San Sebastian  Puerto Rico     612.0
6  for_sale  3.0  1.0      0.20         Ciales  Puerto Rico     639.0
7  for_sale  3.0  2.0      0.08          Ponce  Puerto Rico     731.0
8  for_sale  2.0  1.0      0.09          Ponce  Puerto Rico     730.0
9  for_sale  5.0  3.0      7.46     Las Marias  Puerto Rico     670.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0
5      2520.0            NaN  179000.0
6      2040.0            NaN   50000.0
7      1050.0            NaN   71600.0
8      1092.0            NaN  100000.0
9      5403.0            NaN  300000.0

Random sample of 10 rows from the DataFrame:
           status  bed bath  acre_lot           city       state  zip_code  \
1130918  for_sale  4.0  3.0      2.00         Quogue    New York   11959.0
902909   for_sale  3.0  3.0       NaN       Brooklyn    New York   11201.0
1230779  for_sale  NaN  NaN      0.87         Walden    New York   12586.0
702338   for_sale  2.0  2.0       NaN        Whiting  New Jersey    8759.0
1361672  for_sale  3.0  1.0      0.36      Cleveland    New York   13042.0
494241   for_sale  6.0  2.0      0.07       Brooklyn    New York   11207.0
1372712  for_sale  NaN  NaN    137.79         Madrid    New York   13660.0
827241   for_sale  2.0  2.0       NaN  New York City    New York   10031.0
1348693  for_sale  4.0  3.0      0.44     Waterville    New York   13480.0
1152532  for_sale  4.0  4.0      0.44      Bethlehem    New York   12054.0

         house_size prev_sold_date      price
1130918      2542.0            NaN  1695000.0
902909       2470.0     2012-03-30  4999999.0
1230779         NaN     2016-02-26    89000.0
702338          NaN            NaN   105000.0
1361672       846.0            NaN    69900.0
494241          NaN     2018-01-10   950000.0
1372712         NaN            NaN   139900.0
827241        955.0     2006-06-13   785000.0
1348693      4116.0     2002-05-15   239900.0
1152532      3238.0            NaN   599000.0

### 2) You should always check how many null values there are in your data as well as the data types of the data you're working with. Often you will come across data that looks correct but isn't the right data type. 

### Check the number of null values for every column and check the data types as well

In [29]:

def load_and_inspect_data(file_path):
    """
    Load the data from a CSV file into a pandas DataFrame, and inspect for null values
    and data types of each column.
    
    Parameters:
    - file_path: str, the path to the CSV file containing the realtor data.
    """
    # Load the data into a pandas DataFrame
    df = pd.read_csv(file_path, low_memory=False)

    # Null values check in each column
    null_values = df.isnull().sum()
    print("Number of null values in each column:")
    print(null_values)

    # Data types check of each column
    data_types = df.dtypes
    print("\nData types of each column:")
    print(data_types)


if __name__ == "__main__":
# Function call to load the data and inspect for null values and data types
  load_and_inspect_data(data_file_path)

Number of null values in each column:
status                 0
bed               216467
bath              194206
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

Data types of each column:
status             object
bed                object
bath               object
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price              object
dtype: object

### 3) We have 3 columns that looked right when checking the data but aren't the right data type and we'll correct it. 

### Cast the columns bed, bath and price to float. Values that cannot be casted to float, like "hello" should be turned into NaN. 

### Check the data types again to make sure the conversion was successfull.



### Get a count of the number of NaNs in bed, bath and price columns. 

### You should get 216535, 194215 and 110 respectively

In [15]:
def clean_and_convert_types(df):
    """
    Clean and convert data types of specific columns in the dataframe.
    
    Parameters:
    - df: DataFrame, the pandas DataFrame containing the realtor data.
    """
    # Convert 'bed', 'bath', and 'price' to float, coercing errors to NaN
    for column in ['bed', 'bath', 'price']:
        df[column] = pd.to_numeric(df[column], errors='coerce')

    # Check the updated data types
    print("\nUpdated data types of each column:")
    print(df.dtypes)

    return df


def count_nan_values(df, columns):
    """
    Count the number of NaN values in specified columns of the DataFrame.
    
    Parameters:
    - df: DataFrame, the pandas DataFrame containing the realtor data.
    - columns: list of str, the columns in which to count NaN values.
    """
    nan_counts = df[columns].isnull().sum()
    return nan_counts


if __name__ == "__main__":
    # data_file_path = 'data/realtor-data.csv'
 df = pd.read_csv(data_file_path, low_memory=False)

# # Clean and convert data types for 'bed', 'bath', and 'price'
df = clean_and_convert_types(df)

# Get count of NaN values in 'bed', 'bath', and 'price' columns
nan_counts = count_nan_values(df, ['bed', 'bath', 'price'])
print("\nCount of NaN values in 'bed', 'bath', and 'price' columns:")
print(nan_counts)

Updated data types of each column:
status             object
bed               float64
bath              float64
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price             float64
dtype: object

Count of NaN values in 'bed', 'bath', and 'price' columns:
bed      216535
bath     194215
price       110
dtype: int64

### 4) Check the number of unique values in the bed, bath and state columns. 

### You should get 49, 42 and 19 respectively

### Print the uniques values for bed, bath and state. What do you notice about the unique values ? 

### Ans. Further data cleaning steps may be needed to address outliers and anomalies in the bed and bath columns, such as removing or capping extreme values that do not align with typical residential property characteristics.

In [22]:

def check_unique_values(df, columns):
    """
    Check and print the number of unique values for specified columns in the DataFrame.

    Parameters:
    - df: pandas DataFrame, the DataFrame to analyze.
    - columns: list of str, the column names to check for unique values.

    Returns:
    - None
    """
    for column in columns:
        unique_values = df[column].unique()
        print(f"Number of unique values in {column}: {len(unique_values)}")
        print(f"Unique values in {column}: {unique_values}\n")


def handle_missing_values(df, columns):
    """
    Handle missing values in specified columns by dropping rows with NaN values.

    Parameters:
    - df: pandas DataFrame, the DataFrame to handle missing values.
    - columns: list of str, the column names to check for missing values.

    Returns:
    - df_cleaned: pandas DataFrame with missing values handled.
    """
    for column in columns:
        most_common_value = df[column].mode()[0]
        df[column].fillna(most_common_value, inplace=True)

    return df

if __name__ == "__main__":
    # Columns to check for unique values
    columns_to_check = ['bed', 'bath', 'state']
    columns_to_clean = ['bed', 'bath']

    # Handle missing values
    df_cleaned = handle_missing_values(df, columns_to_clean)
    
    # Check and print unique values
    check_unique_values(df_cleaned, columns_to_check)

C:\Users\USER\AppData\Local\Temp\ipykernel_16676\3960256315.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_common_value, inplace=True)

Number of unique values in bed: 49
Unique values in bed: [  3.   4.   2.   6.   5.   1.   9.   7.   8.  12.  13.  10.  11.  33.
  24.  28.  14.  18.  20.  16.  15.  19.  17.  40.  21.  86.  31.  27.
  42.  60.  22.  32.  99.  49.  29.  30.  23.  46.  36.  68. 123.  25.
  47.  inf  35.  38.  64.  48.  75.]

Number of unique values in bath: 42
Unique values in bath: [  2.   1.   3.   5.   4.   7.   6.   8.   9.  10.  12.  13.  35.  11.
  16.  15.  18.  20.  14.  36.  25.  17.  19.  56.  42.  51.  28. 198.
  22.  33.  27.  30.  29.  24.  46.  21. 123.  39.  43.  32.  45.  64.]

Number of unique values in state: 19
Unique values in state: ['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut'
 'New Hampshire' 'Vermont' 'New Jersey' 'New York' 'South Carolina'
 'Tennessee' 'Rhode Island' 'Virginia' 'Wyoming' 'Maine' 'Georgia'
 'Pennsylvania' 'West Virginia' 'Delaware' 'Louisiana']

### 5) We want to see which state has the largest number of properties for sale. 

### Print a count of the number of properties in each state/territory. 

### We want to make sure that we're getting unique listings, so drop any duplicate rows and print the count of the number of properties. What do you notice about the number of properties in each state ?

### Ans.The stark differences in property counts between states, especially those with very few listings, raise questions about the dataset's quality and completeness. It might be necessary to investigate whether the dataset accurately reflects the real estate market or if there are gaps in the data collection process.

In [23]:

def count_properties_by_state(df):
    """
    Drop duplicate rows and count the number of properties in each state.
    
    Parameters:
    - df: DataFrame, the pandas DataFrame containing the realtor data.
    """
    # Drop duplicate rows to ensure unique listings
    unique_df = df.drop_duplicates()

    # Count the number of properties in each state
    properties_count = unique_df['state'].value_counts()
    print("Count of properties in each state/territory:")
    print(properties_count)


if __name__ == "__main__":
    # Count properties by state
    count_properties_by_state(df)

Count of properties in each state/territory:
state
New York          67157
New Jersey        32598
Connecticut       13753
Massachusetts     10052
Pennsylvania       9549
Maine              4938
New Hampshire      3431
Rhode Island       3332
Puerto Rico        2649
Vermont            2544
Delaware           1290
Virgin Islands      730
Virginia              7
Georgia               5
West Virginia         1
Tennessee             1
Wyoming               1
South Carolina        1
Louisiana             1
Name: count, dtype: int64

### 6) We now want to look for patterns in our data, find the 5 dates when the most houses were sold. What do you notice ?

### Ans.The dates with the highest number of houses sold are relatively close together, all within a span of a few months. This could indicate a particularly active period in the real estate market.

In [25]:

def top_dates_most_houses_sold(df, num_dates=5):
    """
    Find the top dates when the most houses were sold.
    
    Parameters:
    - df: DataFrame, the pandas DataFrame containing the realtor data.
    - num_dates: int, the number of top dates to identify (default is 5).
    """
    # Convert 'prev_sold_date' to datetime format
    df['prev_sold_date'] = pd.to_datetime(df['prev_sold_date'])

    # Count the number of houses sold on each date
    top_dates = df['prev_sold_date'].value_counts().nlargest(num_dates)

    print(f"Top {num_dates} dates when the most houses were sold:")
    print(top_dates)


if __name__ == "__main__":
    # Find the top dates when the most houses were sold
    top_dates_most_houses_sold(df, num_dates=5)

Top 5 dates when the most houses were sold:
prev_sold_date
2022-04-15    734
2022-02-28    554
2022-03-31    516
2021-10-13    478
2022-01-21    433
Name: count, dtype: int64

### 7) Now we want to create a simple but effective summary of the properties that are for sale. 

### Let's create a summary table that contains the average home size and price, every state and each city within a state.

In [27]:


def create_summary_table(df):
    """
    Create a summary table with the average home size and price for each city within a state.
    
    Parameters:
    - df: DataFrame, the pandas DataFrame containing the realtor data.
    """
    # Ensure numeric columns are treated as such
    df['house_size'] = pd.to_numeric(df['house_size'], errors='coerce')
    df['price'] = pd.to_numeric(df['price'], errors='coerce')

    # Group by state and city, then calculate the mean of house_size and price
    summary_table = df.groupby(['state', 'city'])[
        ['house_size', 'price']].mean()

    print("Summary table of average home size and price for each city within a state:")
    print(summary_table)


if __name__ == "__main__":
   # Create the summary table
    create_summary_table(df)

Summary table of average home size and price for each city within a state:
                              house_size         price
state          city
Connecticut    Andover       1607.180328  2.623527e+05
               Ansonia       1840.066372  2.939403e+05
               Ashford       1648.345324  2.762310e+05
               Avon          2977.006965  6.036860e+05
               Barkhamsted   2411.147783  3.866785e+05
...                                  ...           ...
Virgin Islands Saint Thomas  3483.603448  1.169000e+06
Virginia       Cape Charles          NaN  7.100000e+05
               Chincoteague          NaN  1.707000e+05
West Virginia  Wyoming       1860.000000  6.250000e+04
Wyoming        Cody          1935.000000  5.350000e+05

[4308 rows x 2 columns]